<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @list.nome %>
</p>

<%@list.generals.each do |general| %>
  <%=general.name%>
<%end%>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>


