<%@general.errors.full_messages.each do |mensagem| %>
    <div class="alert alert-danger" role="alert">
        <%mensagem%>
       </div> 
<%end%>

<div class="form_control">
<%= form_for @general do |form| %> 
    <div class="row">
        <div class="col-sm-6"> 
            <div class="form-group">
                <h4><%= form.label :name%></h4>
                <%= form.text_field :name, class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <h4><%= form.label :status %></h4>
                <%= form.select :status, [['Em andamento', "in_progress"], ['Finalizada', "done"], ['Cancelada', "cancelled"]]%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <h4><%= form.label :season %></h4>
                <%= form.number_field :season, class:"form-control" %>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <h4><%= form.label :episode %></h4>
                <%= form.number_field :episode, class:"form-control" %>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <h4><%= form.label :next_episode_at %></h4>
                <%= form.date_field :next_episode_at, class:"form-control" %>  
            </div>
        </div>
    </div>

    <%= form.submit action_text, class:"btn btn-secondary btn-md" %>
</div>
<% end %>
