<div class="box2", style="font-color: black">
    <h3><b>Cancelled</b></h3>
</div>
        <table class = "table table-striped">
    <thead>
        <tr>
            <th><h4><b>Name</b></h4></th>
            <th><h4><b>Status</b></h4></th>
            <th><h4><b>Season</b></h4></th>
            <th><h4><b>Episode</b></h4></th>
            <th><h4><b>Next Episode</b></h4></th>
        </tr>
    </thead>
    <tbody>
 
        <% @generals.each do |general| %>
        <% if (general.status == "cancelled") %>
        <tr>
            <td><b><%= general.name %></b></td>
            <td><%= general.my_list %></td>
            <td><%= general.status %></td>  
            <td><%= general.season %></td>
            <td><%= general.episode %></td>
            <td><%= general.next_episode_at %></td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
</div>
</table>