<!DOCTYPE html>
<html>
  <head>
    <title>WatchingTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>

  <body>
      <%= nav_bar brand: "Series Tracker",  brand_link: root_url do%>
        <%= menu_group do %>
          <%=menu_item "Add new Serie", new_general_path%>
          <%=menu_item "My Lists", lists_path%>
          
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Per Status <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/generals/in_progress">In Progress</a></li>
              <li><a href="/generals/cancelled">Cancelled</a></li>
              <li><a href="/generals/done">Done</a></li>
              <li><a href="/generals/status">All</a></li>                        
            </ul>
          </li>
        <% end %>

            <%= form_tag search_general_path, method: :get, class:"navbar-form navbar-right" do %>
      <div class="form-group">
          <%= text_field_tag :nome, @name, class: "form-control" %>
          <%= button_to "Search", nil, class:"betn betn-default"%>
      </div>
    <% end %>
    <%end%>


  

    <div class="container">
       <%= yield %>
    </div>
    
  </body>
</html>
